
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

/* 
Challenge: Place the gray react logo in the background

Don't use an `img` element, but rather set it as the
`background-image` of the `main` element.

Hint: you'll need to use the following properties:
- background-image
- background-repeat
- background-position

(Or the shorthand `background` property with values for all
those other properties)
*/

main {
  padding: 57px 27px;
  color: white;
  background-image: url(./images/react_icon.svg);
  background-repeat: no-repeat;
    background-position: right 75%;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}

/*  
    !###################################################################
    !###################################################################
    !###################################################################
    ?                     Solo Project
    !###################################################################
    !###################################################################
    !###################################################################
*/
.container {
  width:  317px;
  margin: 30px auto;
}
.card {
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  background-color: #1A1B21;
}
.card-head {
}

.header-content {
  padding: 10px;
 line-height:1.4rem;
}
.name{
  display:flex;
  justify-content: center;
  color: #fff;
}
.job-title{
  display:flex;
  justify-content: center;
  color: #F3BF99;
  font-size: 12.8px;
}
.website{
  display:flex;
  justify-content: center;
  color : #F5F5F5;
  font-size:10.24px;
}

.header-image >img{
  width:100%;
  border-radius: 10px 10px 0 0;
}

.header-content > button{
  margin: 16px auto 16px auto ;
  width:100%;
  padding:10px;
  border-radius: 6px;
  background-color: #fff;
  font-size:14px;
  line-height:16px;
}
.header-content > button > i{
  padding-right: 8px;
}

.card-content{
  margin: 16px auto 16px auto ;
  width: 247px;
  color: #fff;
  line-height:15.36px;
  font-size: 10.24px;
}
.nav{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.nav > li {
  padding:10px;
}
.nav> li > a {
  font-size:2rem;
  color: #918E9B;
  transition: all .2s ease-in-out; 
}
a:hover {
  color: #F3BF99 !important;
}
a>svg:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out; 
}